input, textarea {outline:none;}
.z1{z-index:1;}
.z2{z-index:2;}
.disp_bl{display:block;}
.disp_n{display:none;}
.clear{clear:both;}
.w100{width:100%;}
.mrg0a {margin:0 auto;}
.pad0{padding:0;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  margin: 0;padding: 0;}
a {color: #272727;  text-decoration: none;}
.fl_l{float:left;} .fl_r{float:right;} .fl_n{float:none;}
.ta_c{text-align:center;} .ta_j{text-align:justify;} .ta_r{text-align:right;} .ta_l{text-align:left;}
.posRel {position:relative;} .posAbs {position:absolute;} .posFix{position:fixed;}
ul, ol { margin: 0; padding: 0;  list-style: none;}
img {border: 0; }
/*@font-face {*/
    /*font-family: SourceSansProRegular; */
    /*src: local("SourceSansProRegular.ttf"),*/
         /*url(/local/templates/main/fonts/SourceSansProRegular.ttf); }	 */

html, body, .site {height: 100%;}
/* картинку можно взять отсюда /local/templates/main/images/cloud-bar.png */
body {margin: 0; font-family: "SourceSansProRegular", sans-serif; font-size: 16px;padding-top: 10px;color: #525252;}
.main_width {width:1170px;margin:0 auto;position:relative;}
/*header*/

.header { padding: 0 60px;height: 90px;width: 100%; border-bottom: 1px solid #dee0df;}
a.logo {  color: #e74430;font-size: 21px;float: left;line-height: 90px; margin-right: 20px;margin-left:20px;}
a.logo img {height:30px;    position: relative; margin-right: 15px;top:7px;}

.nav:not(.fotter) {float:right}
.nav ul {list-style: none;float: right;}
.nav ul li{  margin: 0 15px;position:relative;    display: inline-block;    text-align: left;}
.nav ul li a {cursor:pointer;    line-height: 90px; font-size: 16px;  color: #525252;padding: 35px 0;}
.nav ul li a:hover {    color: #f4645f;}
.nav ul li a span{display: inline-block;  width: 0; height: 0; margin-left: 5px; vertical-align: middle;  border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent;}
.nav ul ul {display:none;    position: absolute;    top: 75px;left: 0;z-index: 2; min-width: 160px; padding: 5px 0; margin: 2px 0 0;font-size: 14px;border: 1px solid #cccccc; border-radius: 4px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);    background: #fff;}
.nav ul li.open ul {display:block;}
.nav ul ul li  {margin:0px; display:block;}
.nav ul ul li a{display: block;  padding: 3px 20px;  clear: both;  font-weight: normal; line-height:15px;  color: #333;  white-space: nowrap; font-size: 14px;}

#content {padding-top: 30px; padding-left: 290px;}

.footer { background: #fafafa; padding: 35px 20px; text-align: center;}
.footer .nav ul{float:none; }
.footer .nav ul ul{bottom:75px; top: auto;}
.footer p {color: #aeaeae;font-size: 16px; margin-bottom: 10px;}
.footer p  a{ color: #c8c8c8;font-size: 14px;}
.footer p  a:hover {    color: #f4645f;}
